{{> includes/contact-nav}}

<div class="container" style="font-family: Proxima Nova!important;margin-top: 25px">
    <div class="row text-center">
        <h1><strong style="color: #3DC08A">
            Ne puteti contacta in urmatoarele moduri:
        </strong></h1>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img class="img-fluid" src="/images/contact.png" width="80" height="80">
            <h3><strong style="color: #3DC08A">email: </strong> office@evvs.ro</h3>
        </div>
        <div class="col-lg-4">
            <img class="img-fluid" src="/images/contact-phone.png" width="80" height="80">
            <h3><strong style="color: #3DC08A">telefonic: </strong> <br>0354/401 242, <br>0354/738 200, <br>0354/401 241</h3>
        </div>
        <div class="col-lg-4">
            <img class="img-fluid" src="/images/contact-address.png" width="80" height="80">
            <h3><strong style="color: #3DC08A">sau la adresa: </strong> <br>Aleea Atelierelor 1,<br> hala 18/A, Deva, HD, Romania</h3>
        </div>
    </div>
</div>

{{> includes/footer-contact}}
