
<div class="container" style="font-family: 'Open Sans', sans-serif;">
    <h1><img src="/images/cookie.svg" width="200" height="200"> Politica de utilizare cookie-uri</h1>
    <blockquote>Adevărul e că internetul e construit si din cookie-uri.Pur si simplu nu se poate fară.Sau nu incă.
        Fireste că si noi, cei care operăm acest site, suntem in pozitia dvs., de utilizatori...
    </blockquote>
    <h3><strong style="color: #3DC08A">Ce sunt de fapt cookie-urile?</strong>    {{!--* ă â ș ț Î î µ --}}
    Cookie-ul este un fișier de mici dimensiuni, format din litere și numere, care va fi stocat pe computerul, terminalul mobil sau alt echipament, al unui utilizator, de pe care se accesează internetul.
        Cookie-ul este instalat prin solicitarea emisă de către terminalul utilizatorului către un server EWS sau către un server al unei terțe părți.</h3>
    <hr>
    <h3><strong style="color: #3DC08A">
        Ce cookie-uri folosim?
    </strong>
    Folosim două tipuri de cookie-uri: per sesiune și fixe(furnizate de terți). Cookie-urile per sesiune sunt fișiere temporare ce rămân în terminalul utilizatorului până la terminarea sesiunii(sau maxim 1 oră) sau închiderea aplicației.
    Cookie-urile fixe rămân pe terminalul utilizatorului pe o perioadă determinată de parametrii cookie-ului sau până sunt șterse manual de către acesta.</h3>
    <hr>
    <h3>
        <strong style="color: #3DC08A">Cum folosim cookie-urile?
        </strong>
        O vizită pe site-ul nostru poate plasa următoarele tipuri de cookie-uri:<br>
         ~cookie-uri strict necesare pentru funcționarea site-ului si de securitate(Europack si PayPal INC)<br>
         ~cookie-uri de analiză furnizate de terți(Facebook,Google)<br>
         ~cookie-uri pentru publicitate furnizate de terți(Facebook,Google)
    </h3>
    <hr>
    <h3>
    Spre exemplu, utilizăm Google Analytics, un serviciu de analiză web furnizat de Google Inc.
    Google Analytics foloseste cookies pentru ne ajuta sa analizam constant modul in care utilizatorii utilizeaza site-ul nostru.
     Informatiile generate de cookie, despre utilizarea site-ului web (inclusiv adresa dvs. IP) vor fi transmise si stocate de Google timp de 26 de luni.
      Google va utiliza aceste informatii in scopul evaluarii utilizarii site-ului web, al compilarii rapoartelor privind activitatile site-ului web pentru operatorii de site si in furnizarea altor servicii legate de activitatea site-ului web si de utilizarea internetului.
       Google poate, de asemenea, sa transfere aceste informatii unor terte parti, in cazul in care acest lucru este cerut prin lege sau in cazul in care aceste terte parti proceseaza informatiile in numele Google.
        Google nu va asocia adresa IP cu alte date detinute de Google. Puteti refuza utilizarea acestor cookie-uri prin selectarea setarilor corespunzatoare din browserul dvs. Insă desi sună aiurea, prin utilizarea acestui site, sunteti de acord cu prelucrarea datelor despre dvs.(vorbim aici nu despre buletin, cnp, pasaport, etc, ci despre datele computerului dvs.)
        de catre Google in modul si in scopurile mentionate mai sus.
    </h3>
    <h3>Un alt exemplu, foarte scurt insă, sunt cei de la BRAINTREE(divizia de procesare carduri a celor de la PayPal), fără de care nu am putea să vă procesăm cardurile bancare.Cookie-urile lor sunt
    de maximă importantă pentru securitatea tranzactiilor.
    </h3>
    <h3>Si la fel e si cu Facebook-ul, însa riscăm sa vă plictisim si chiar nu ne dorim asta.Următorul text e solicitat de lege si, deci, trebuie scris.:)
    </h3>
    <h3>Prin utilizarea acestui site, sunteti de acord cu prelucrarea datelor despre dvs si de către Facebook.
        Care oricum le prelucrează daca aveti un cont la ei.
        Si uite asa ne învârtim in cerc.
        Bine, mai departe.. :)
    </h3>
    <h3><strong style="color: #3DC08A">
        Ce se întâmplă dacă stergem cookie-urile?
    </strong>
        În cazul în care doriți sa blocați cookie-urile, unele funcționalități ale site‑ului vor fi oprite, iar acest lucru poate genera anumite disfuncționalități sau erori în folosirea acestuia.
        De exemplu, blocarea cookie-urilor vă poate împiedica să vă autentificați în contul dumneavoastră.
        Sau, adaugati un produs in coș si nu se stochează, sau, sau, sau.
        În cazul în care ești de acord cu aceste limitări și dorești să blochezi cookie-urile, gasesti pe <a href="http://www.youronlinechoices.com/ro/" target="_blank">http://www.youronlinechoices.com/ro/</a> foarte multe chestii interesante
        dar si instructiuni clare despre cum să le dezactivezi in functie de web browser-ul pe care-l folosesti.
        De asemenea pe <a href="http://www.allaboutcookies.org" target="_blank">http://www.allaboutcookies.org/</a> gasiti totul cu si despre cookie-uri.Din păcate nu e și in limba română.
    </h3>
    <h3><strong style="color: #3DC08A">
        De ce sunt cookie-urile și/sau local storage-ul(cookie inseamnă prăjiturică,după cum probabil ati dedus, iar la local storage vă puteti gândi ca la un tort :)) ) importante pentru Internet?
    </strong>
        Cookie-urile și/sau tehnologiile similare reprezintă un punct central al funcționării eficiente a Internetului, ajutând la insăsi navigarea,
        mai ales in interiorul unui website(fara cookie nu poti accesa email-ul pentru ca te deloghează, sau nu poti intra in nici un cont gen magazin, librarie, etc., aflate online, fireste)
        in sine.
        Refuzarea sau dezactivarea cookie-urilor face ca majoritatea website-urilor sau părți ale acestora sa fie imposibil de folosit.
        Dezactivarea cookie-urilor nu înseamnă că nu veți mai primi reclame, ci doar că aceasta nu vor mai putea ține cont de preferințele și interesele dvs., evidențiate prin comportamentul de navigare.<br>
        Ce mai retin cookie-urile printre multe altele:<br>
         ~parolele pe durata sesiunii<br>
         ~filtrele de protecție a copiilor privind conținutul pe Internet.<br>
         ~frecventa de difuzare a reclamelor – limitarea numărului de afișări a unei reclame pentru un anumit utilizator pe un site.<br>
         ~măsurarea, optimizarea și adaptarea caracteristicilor de analiză, website-urile derulând aceste analize privitoare la utilizarea lor pentru a-și îmbunătăți serviciile SI în beneficiul utilizatorilor.
    </h3>
    <h3>Cam atât despre cookie-uri.Sperăm că am fost suficient de expliciti si că am ajutat măcar intr-o mică măsură la elucidarea misterului cookie-urilor.
    Dacă aveti nelămuriri, sau cereri exprese cu privire la cele explicate mai sus, vă rugăm sa ne contactati pe email sau pe oricare dintre numerele de telefon afișate.Promitem sa rezolvăm orice,
        în cel mai scurt timp cu putintă.</h3>
    <div class="text-center" style="padding: 50px 50px">
    <a class="a_linkFooter footerA" href="/" style="border: 1px solid;border-radius: 18px;padding: 5px 20px;font-size: 20px">Acasa</a>
    </div>

</div> {{!--* ă â ș ț Î î µ --}}

{{> includes/footer-cookie}}