<div class="container" style="font-family: 'Open Sans', sans-serif;">
    <h1>Politica de confidențialitate și de prelucrare a datelor cu caracter personal.</h1>

    <h3><strong style="color: #3DC08A">Cine suntem?</strong><!--* ă â ș ț Î î µ -->
        evvs.ro sau store.evvs.ro – sunt denumirile site-urilor de internet apartinând  S.C. EUROPACK WRAPPING SOLUTIONS S.R.L., persoană juridică de naționalitate română, având sediul social in Deva,
        Aleea Atelierelor 1, hala 18/A,  cu număr de ordine in Registrul Comerțului J20/1021/2015, și cod unic de înregistrare fiscală RO35251390.
    </h3>
    <h3><strong style="color: #3DC08A">Confidențialitate</strong><br>
        IMPORTANT: ACCESÂND SITE-UL NOSTRU ȘI/SAU OFERINDU-NE ORICE INFORMAȚIE CU CARACTER PERSONAL, VĂ DAȚI CONSIMȚĂMÂNTUL EXPLICIT CA TOATE
        DATELE CU CARACTER PERSONAL PE CARE NI LE FURNIZAȚI SĂ FIE PRELUCRATE DE NOI ÎN MODUL ȘI ÎN SCOPURILE DESCRISE ÎN CONTINUARE ÎN ACEASTĂ POLITICĂ DE CONFIDENȚIALITATE ȘI ÎN CONFORMITATE CU LEGILE ȘI
        REGULAMENTELE ÎN VIGOARE PRIVIND DATELE CU CARACTER PERSONAL.
    </h3>
    <h3><!--* ă â ș ț Î î µ -->
        Conform cerințelor Legii nr. 677/2001 pentru protecția persoanelor, cu privire la prelucrarea datelor cu caracter personal și
        liberă circulație a acestor date, modificată și completată și ale Legii nr. 506/2004 privind prelucrarea datelor cu caracter personal și protecția vieții private în sectorul
        comunicațiilor electronice, avem obligația de a păstra confidențialitatea și de a utiliza în condiții de siguranță datele personale pe care ni le furnizați despre dvs. numai în scopuri publicitare (trimiterea de oferte atunci când e cazul) și a comercializării de produse.
    </h3>
    <h3><strong style="color: #3DC08A">Ce fel de date prelucrăm?</strong>                                                       <!--* ă â ș ț Î î µ -->
        Atunci când solicitați o informație prin intermediul paginii noastre, vi se va cere să introduceți date cum ar fi numele dvs., prenumele, adresa de e-mail si un website(acesta din urma e opțional pentru că nu toată lumea deține unul).
        În acest caz vă cerem permisiunea de a vă prelucra datele personale cu scopul de a vă raspunde la solicitare.
        Nu folosim datele primite în urma acestei permisiuni în alte scopuri decât cel de notificare, nu vindem, închiriem sau dăm altor terți aceste informații.
    </h3>
    <h3>Vom mai utiliza datele dvs. cu caracter personal în următoarele scopuri:<br>
        ~ Prelucrarea comenzilor, inclusiv preluarea, validarea, expedierea și facturarea acestora<br>
        ~ Soluționarea anulărilor sau a problemelor de orice natură referitoare la o comandă, la bunurile sau serviciile achiziționate<br>
        ~ Returnarea produselor conform prevederilor legale<br>
        ~ Rambursarea contravalorii  produselor conform prevederilor legale<br><!--* ă â ș ț Î î µ -->
        ~ Pentru a vă trimite notificări atunci când situația o impune(modificarea prețului produselor, sau schimbări ale legislației)<br>
        ~ Publicitate, însă cerând în prealabil acceptul dvs.Se realizează fie prin poșta, fie prin e-mail.
    </h3>
    <h3><strong style="color: #3DC08A">Cât timp păstrăm datele dvs. cu caracter personal?</strong>
        Ca regulă generală, vom stoca datele dvs. cu caracter personal pe durata colaborării.
        Puteți să ne solicitați oricând ștergerea acestora și vom da curs acestor solicitări,
        sub rezerva păstrării anumitor informații inclusiv ulterior închiderii colaborării, în situațiile în care
        legislația aplicabilă o impune.
    </h3>
    <h3><strong style="color: #3DC08A">Cui transmitem datele dvs. cu caracter personal?</strong>
        După caz, următoarelor categorii de destinatari:<br>
        ~ furnizorilor de servicii de curierat<br>
        ~ furnizorilor de servicii IT<br>
        ~ furnizorilor de servicii de plată/bancare<br>
        ~ furnizorilor de recuperare creanțe<br>
        ~ anumitor autorități publice
    </h3>
    <h3><strong style="color: #3DC08A">Ce drepturi aveți?</strong><!--* ă â ș ț Î î µ -->
        Puteți solicita accesul la datele dvs., corectarea oricăror greșeli din fișierele noastre și/sau vă puteți opune la prelucrarea datelor
        dvs. cu caracter personal.Ne puteți cere să vă ștergem datele, sau să vă furnizăm datele cu caracter personal într-un format structurat, utilizat în mod
        curent și care poate fi citit automat, sau puteți solicita ca acesta sa fie „portat” direct către un alt operator de date. De asemenea, vă puteți exercita dreptul de a vă plânge autorității de supraveghere competente sau
        de a vă adresa justiției. În România, datele de contact ale autoritații de supraveghere pentru protecția datelor sunt următoarele:<br>

        Autoritatea Naționala de Supraveghere a Prelucrării Datelor cu Caracter Personal<br>
        B-dul G-ral. Gheorghe Magheru nr. 28-30,<br> Sector 1, cod postal 010336,<br> Bucuresti, România;<br>
        Telefon: +40.318.059.211 sau +40.318.059.212;<br>
        E-mail: anspdcp@dataprotection.ro
    </h3>
    <h3><strong style="color: #3DC08A">Politica de confidențialitate când folosiți 'Login cu Facebook'.</strong>
        Va încurajăm sa o citiți apăsând <a href="https://ro-ro.facebook.com/privacy/explanation" target="_blank">aici</a>, și, pe această cale, comunicăm faptul că nu folosim datele dvs.  de la Facebook, mai puțin email-ul si user name-ul.
        Este singurul lucru pe care-l cerem de la dânșii in momentul in care dvs alegeți aceasta cale de a va crea un cont la noi pe site.

    </h3>
    <h3>Dacă am greșit cu ceva, și fară a vă afecta dreptul dvs. de a contacta în orice moment autoritatea de supraveghere, vă rugăm să ne contactați, și sigur
        vom găsii o rezolvare pe cale amiabilă.
    </h3>
    <!--* ă â ș ț Î î µ -->
</div>
<div class="text-center" style="padding: 50px 50px">
    <a class="a_linkFooter footerA" href="/" style="border: 1px solid;border-radius: 18px;padding: 5px 20px;font-size: 20px">Acasa</a>
</div>

{{> includes/footer-privacy}}
