<div class="container" style="font-family: 'Open Sans', sans-serif;"><!--* ă â ș ț Î î µ -->
    <h1>Termeni si codiții</h1>
    <h3><strong style="color: #3DC08A">
        Vanzator</strong> –  store.evvs.ro
    </h3>
    <h3><strong style="color: #3DC08A">Cumparator</strong>
        – poate fi orice persoana fizica care are varsta peste 16 ani sau
        persoana juridica sau orice entitate juridica  care are sau obtine acces la continut,  isi face un
        Cont in Site si efectueaza o Comanda, prin orice mijloc de comunicare pus la dispozitie de catre store.evvs.ro.
    </h3>
    <h3><strong style="color: #3DC08A">Continut</strong> – reprezinta:

        – toate informatiile de pe Site care pot fi vizitate, vizualizate sau altfel accesate prin utilizarea unui echipament electronic;<br>
        – continutul oricarui e-mail trimis Cumparatorilor de catre Vanzator prin mijloace electronice si/sau orice alt mijloc de comunicare disponibil;<br>
        – orice informatie comunicata prin orice mijloc de catre un angajat/colaborator al Vanzatorului, Cumparatorului, conform informatiilor de contactare, specificate sau nu de catre acesta;<br>
        – informatii legate de Bunurile si/sau Serviciile si/sau tarifele practicate de Vanzator intr-o anumita perioada;<br>
        – informatii legate de Bunurile si/sau Serviciile si/sau tarifele practicate de catre un tert cu care Vanzatorul are incheiate contracte de parteneriat, intr-o anumita perioada;</br>
        – date referitoare la Vanzator, sau alte date privilegiate ale acestuia.
    </h3>

    <h3><strong style="color: #3DC08A">Cont</strong> – sectiunea din Site formata dintr-o adresa de e-mail si
        o parola care permite Cumparatorului transmiterea Comenzii si care contine informatii despre
        Client/Cumparator si istoricul Cumparatorului in Site (Comenzi, nr.de facturi fiscale, etc.).
        Utilizatorul este responsabil si se va asigura ca toate informatiile introduse la crearea
        Contului sunt corecte, complete si actualizate.

    </h3>

    <h3><strong style="color: #3DC08A">POLITICA DE VANZARI ONLINE</strong></h3><br>
    <h3>
        store.evvs.ro poate publica pe Site informatii despre Bunuri si/sau Servicii si/sau promotii practicate de
        catre acesta intr-o anumita perioada de timp si in limita stocului disponibil.
    </h3>
    <h3>Toate tarifele aferente Bunurilor si/sau Serviciilor prezentate pe Site sunt exprimate
        in lei (RON) si NU includ T.V.A. acesta fiind specificat clar in cadrul sectiunii din site 'cosul de cumparaturi' unde veti regasii si totalul
        bunurilor si/sau serviciilor cumparate.
    </h3>
    <h3>
        In cazul platilor online Vanzatorul nu este/nu poate fi facut responsabil pentru niciun alt cost suplimentar
        suportat de Cumparator, incluzand dar nelimitandu-se la comisioane de conversie valutara
        aplicate de catre banca emitenta a cardului acestuia, in cazul in care moneda de emitere
        a acestuia difera de RON. Responsabilitatea pentru aceasta actiune o poarta numai Cumparatorul.<br>
        REPETAM: Cele de mai sus se aplica, posibil, in cazul in care NU aveti un card in lei(RON).
    </h3>
    <h3><strong style="color: #3DC08A">Comenzi</strong></h3><br>
    <h3>
        Cumparatorul poate efectua Comenzi pe Site, prin adaugarea Bunurilor si/sau Serviciilor
        dorite in cosul de cumparaturi, urmand a finaliza Comanda efectuand plata prin una dintre modalitatile indicate expres.
        Odata adaugat in cosul de cumparaturi, un Bun si/sau un Serviciu este disponibil
        pentru achizitie in masura in care exista stoc disponibil pentru aceasta.
        Adaugarea unui Bun/Serviciu in cosul de cumparaturi,
        in lipsa finalizarii Comenzii, nu atrage dupa sine inregistrarea unei comenzi,
        implicit nici rezervarea automata a Bunului/Serviciului.
    </h3>
    <h3> Prin finalizarea Comenzii Cumparatorul consimte ca toate datele
        furnizate de acesta, necesare procesului de cumparare, sunt corecte,
        complete si adevarate la data plasarii Comenzii.Consimte de asemenea ca Vanzatorul poate sa il contacteze,
        prin orice mijloc disponibil / agreat de Vanzator, in orice situatie in care este
        necesara contactarea Cumparatorului.</h3>
    <h3>
        Cumparatorul are dreptul  sa returneze un Bun sau sa renunțe la un Serviciu, în termen de 14 zile
        calendaristice, fara invocarea niciunui motiv si fara a suporta alte costuri decât cele de livrare.
        Astfel, potrivit OUG nr 34/2014, perioada de returnare a unui Bun sau renunțare la un
        Serviciu expiră în termen de 14 zile de la:<br>

        – ziua în care Cumparatorul intră în posesia fizică a ultimului Bun – în cazul în care Cumparatorul
        comandă printr-o singură comandă produse multiple care vor fi livrate separat<br>
        – ziua în care Cumparatorul intră în posesia fizică a ultimului Bun sau a ultimei piese – în cazul livrării unui produs care constă din mai multe loturi sau piese<br>
        Vom considera abuz 3 returnari consecutive ale produselor fara ca acestea sa prezinte vreun defect de fabricatie,
        si ne rezervam dreptul de a nu mai accepta comenzi ulterioare.

    </h3>
    <h3>
        Vanzatorul va putea amana rambursarea sumei
        pana la primirea Bunurilor vandute sau pana la primirea unei dovezi conform
        careia acestea au fost expediate, in cazul in care nu s-a oferit sa recupereze el insusi Bunurile (se va lua data cea mai recenta).
        Bunurile trebuie sa fie receptionate exact in starea in care au fost expediate.In cazul in care acestea sunt deteriorate
        vom rambursa contravaloarea lor, insa ne rezervam dreptul de a nu mai accepta comenzi ulterioare.
        Rambursarea banilor se face doar prin virament bancar, in contul indicat de Cumparator.
    </h3>
    <h3><strong style="color: #3DC08A">Plata si facturarea produselor</strong></h3><br>
    <h3>
        Exista doua modalitati de plata.La livrare sau cu cardul, daca Cumparatorul si-a creat un Cont, sau doar cu cardul in cazul in care
        nu se doreste crearea unui Cont.
    </h3>
    <h3>
        Pretul, modalitatea de plata si termenul de plata sunt specificate in fiecare Comanda.
        Vanzatorul va emite catre Cumparator o factura pentru Bunurile si/sau Serviciile livrate,
        obligatia Cumparatorului fiind sa furnizeze toate informatiile necesare emiterii facturii conform cu legislatia in vigoare.
    </h3>
    <h3>
        Vanzatorul va transmite Cumparatorului factura aferenta Comenzii ce contine Bunuri si/sau
        Servicii vandute de store.evvs.ro, inclusiv in format electronic, prin posta electronica, la adresa de e-mail mentionata de Cumparator,
        iar factura in original se va regasii in colet.
    </h3>
    <h3><strong style="color: #3DC08A">Garantii</strong></h3><br>
    <h3>
        Orice produs neconform se inlocuieste pe loc, fara protest.Ne bazam doar pe ce ne comunicati dvs.,avand
        doar rugamintea de a ne returna o parte din produsele neconforme pentru a putea remedia problema.
    </h3>

</div>
<div class="text-center" style="padding: 50px 50px">
    <a class="a_linkFooter footerA" href="/" style="border: 1px solid;border-radius: 18px;padding: 5px 20px;font-size: 20px">Acasa</a>
</div>

{{> includes/footer-terms}}