<div id="fb-root"></div>
<script nonce='{{{nonce}}}'>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container-fluid text-center"  id="footerCtxOnMain">
    <footer class="text-muted text-small" style="padding-top: 25px;padding-bottom: 15px;">
        <div class="row">
            <div class="col-sm-3" style="font-family: 'Proxima Nova'!important;">
                <a class="a_linkFooter footerA" href="report/cookie-policy">Politica de utilizare cookie-uri</a><br>
                <a class="a_linkFooter footerA" href="report/privacy-policy">Politica de confidentialitate</a><br>
                <a class="a_linkFooter footerA" href="/report/terms"  id="footerA3">Termeni si conditii</a>
                <a class="a_linkFooter footerA" href="/report/contact"  id="footerA3">Contact</a>
            </div>

            <div class="col-sm-5" >
                <p id="mainFooterP">Facut cu multa <img src="/images/heart.svg" width="14" height="14"> pentru <a href="https://evvs.ro/" target="_blank" class="footerA">evvs.ro</a>, de <a href="https://twitter.com/petru_alexandru" target="_blank" class="footerA">vying technologies</a></p>
                <p id="mainFooterP1">Gazduit de <img src="/images/mongodb.svg" width="80" height="30" id="mongoIMG"> Atlas</p>
            </div>

            <div class="col-sm-4">
                <a href="https://www.facebook.com/evvs.ro/" id="findUsOnFbButton" target="_blank"><img src="/images/find-us-on-facebook.svg" width="120" height="30"> </a>
                <div class="fb-like" data-href="https://www.facebook.com/evvs.ro/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                <a href="https://www.google.com/search?ludocid=1798359120239188311&q=Europack%20Wrapping%20Solutions%201%20Aleea%20Atelierelor%20hala%2018%2FA%20Deva%2C%20Municipiul%20Deva%2C%20Jude%C8%9Bul%20Hunedoara%20330003#fpstate=lie&lrd=0x474ef2bea320bf67:0x18f50e177c70d957,3,,,"><img src="/images/googlereviewbutton.png" width="250" height="60" style="margin-top: 5px"> </a>

            </div>
        </div>
    </footer>
    {{!--<p >©2018 Europack Wrapping Solutions</p>--}}

</div>
