<nav class="navbar navbar-expand-lg"> {{!--navbar-dark bg-dark (case u wanted dark)--}}
    <a class="navbar-brand" href="/" id="brand">EVVS™</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Acasa <span class="sr-only">(current)</span></a>
        </li>
    </ul>
</nav>