<div class="container text-center">
<form action="" method="post" class="form-signin text-center">
    <h1 class="h3 mb-3 font-weight-normal">Actualizeaza parola</h1>
    {{#if hasErrors}}
        <div class="alert-danger">
            {{# each messages}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    {{/if}}
    {{#if hasInfo}}
        <div class="alert-success">
            {{# each infoMessages}}
                <p>{{this}}</p>
            {{/each}}
        </div>
    {{/if}}
    <label for="inputEmail" class="sr-only">New Password</label>
    <input type="password" name="password" id="inputPasswordTokenNew" class="form-control" placeholder="Noua parola" required="" autofocus="">

    <label for="inputPassword" class="sr-only"> Confirm Password</label>
    <input type="password" name="confirm" id="inputPasswordTokenConfirm" class="form-control" placeholder="Confirma parola" required="">

    <input type="hidden" name="_csrf" value="{{csrfToken}}">


    <button class="btn btn-lg btn-outline-primary btn-block" id="buttonTokenReset" type="submit">Actualizeaza</button>
</form>
</div>
<div class="container text-center">
    <img class="mb-4" src="/images/resetpasstokenpage.svg" alt="" width="172" height="172">
</div>

{{> includes/footer-success}}