{{> includes/signin-nav}}
<div class="container text-center">
    <form action="" method="post" class="form-signin text-center">
        <h1 class="h3 mb-3 font-weight-normal">Intra in cont</h1>
        {{#if hasErrors}}
            <div class="alert-danger">
                {{# each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        {{#if hasInfo}}
            <div class="alert-success">
                {{# each infoMessages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Adresa de e-mail" required="" autofocus="">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPasswordsign" class="form-control" placeholder="Parola" required="">

        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <button class="btn btn-lg btn-outline-primary btn-block" type="submit" id="sign_in_account">Intra in cont</button>
    </form>

    <form action="/users/forgot" class="form-signin text-center">
        <button class="btn btn-lg btn-outline-primary btn-block" role="button" href="/users/forgot" id="forgot_password_button">Am uitat parola</button>
    </form>
    <p class="mt-5 mb-3 text-muted">sau</p>
    <a class="loginBtn loginBtn--google" role="button" href="/auth/google" style="text-decoration: none">Login with Google<span class="popover above">La prima inregistrare, daca nu exista, contul este creat automat!</span></a>
    <a class="qs" role="button"  href="/auth/facebook"><img src="/images/login-facebook.jpg" height="53" width="250"><span class="popover above">La prima inregistrare, daca nu exista, contul este creat automat!</span> </a>
</div>
<div class="container text-center">
    <img class="mb-4" src="/images/signup.svg" alt="" width="172" height="172">
    <p class="mb-3 text-muted">©2018 EVVS™</p>
</div>
<div class="container text-center">
    <form action="/users/signup" class="form-signin text-center">
        <button class="btn  btn-outline-dark btn-block" role="button" href="/users/signup" id="no_account_button">Nu ai cont?Inregistreaza-te</button>

    </form>
</div>

{{!----}}